.authLanding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: #E5E7EB;

  .buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

    button {
      background-color: #3B82F6;
      color: #FFF;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #2563EB;
      }
    }
  }
}
