.card {
  height: 100%;
  //background-color: #837c7c;
  //border: 1px solid #000f53;
  //border-radius: 10px;
  text-align: center;
  color: white;
  //margin: 0 10rem 0 10rem;
  box-shadow:
          1px 1px 2px rgb(0 0 0 / 10%),
          -1px -1px 2px rgb(0 0 0 / 10%);
}
